.navbar-inverse
{
    display:none;
}
div.span11:nth-child(4) > div:nth-child(1){
    display: none;
}

.classe-masquee{
    display: none;
}

.table > tbody:nth-child(1) > tr:nth-child(2){
    
    height: 100px;
    
}

.facture-table{
    display: block;
    width: 100%;
    
}

.designation{
    
    width: 55%;
}

.hide-content
{
    display: block;
}

p, span, label, .control-group, .control-label {
    margin: 0;
}

.facture-header
{
    //border: 2px solid black;
    width: 50%;
    height: 200px;
    background: yellow;
    margin-top: -60px;
}

body > div.container > div:nth-child(2) > div .alert-success
{
    width: 95%;
    height: 50px;
    font-size: 1.8em;
}

.logo-facture
{
    width: 40%;
    float: left;
    
    
}
.atelier-facture
{
    float: right;
    width: 60%;
    font-size: 1.6em;
}

.facture-header p
{
    text-align: center;
}

.facture-header label
{
    font-size: 1.1em ;
}

.atelier-facture h4
{
    font-size: 1.4em;
}

.tete-facture
{
    height: 30%;
    margin-bottom: 5px;
}

.row
{
    padding: 0;
    margin: 0;
}

.titre
{
    font-size: 1.6em;
}

.infos-client h1
{
    margin: auto;
    padding: 0;
    font-size: 1.8em;
    border: transparent;
}

.infos-client fieldset
{
    padding: 0;
    height: 100px;
    width: 100%;
    
    
}

.row span12
{
    border: transparent;
}
