/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 sept. 2014, 18:24:53
    Author     : Khadim
*/
body{
    margin-top: 60px;
}
.background_infos
{
    padding: 0px;
    background: #EDEDED;
}

.background_infos .form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: left;
/*    width: 0px;*/
}

.titre
{
    text-align: center;
    color: black;
}

.input-xlarge {
    height: 30px;
    width: 230px;
}
.bouton_action
{
    padding: 10px;
    alignment-adjust: central;
}

.hide-content
{
    display: none;
    content: 'nflkesflksenl';
}

.show-details
{
    cursor: pointer;
}
